html {
    background: #000;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans Mono", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    color: white;
    position: relative;
    height: 60px;
    border-bottom: solid 0.5px rgba(255,255,255,0.3);

    align-items: center;
    justify-content: start;
    padding-left: 5px;
}

@media screen and (max-width: 600px) {
    nav {
        justify-content: center;
        padding-left: none;
    }
}

nav .logo{
    display: block;
    width: 45px;
}

#bg {
    position: absolute;
    z-index: -1;
}

h1, p {
    color: #fff;
}

.section {
    padding: 4%;
}

.head-section {
    justify-content: center;
    align-items: center;
}

.head-section h1,
.head-section p {
    text-align: center;
}

.head-section .logo{
    display: flex;
    margin: auto;
    width: 15rem;
}

footer {
    padding: 1rem;
    color: white;
    border-top: solid 0.5px rgba(255,255,255,0.3);
}
